/* Give your page a fun background color */
body {
    background-color: #FFC68A;
}

/* Make the header and footer a different color from the background */

header {
    background-color: lightblue;
}

footer {
    background-color: #555580;
    color: #FFFFFF;
}

/* Align the h1 containing your name in the center of the header*/

h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */

header p {
    color: forestgreen;
    font-style: italic;
}

/* Put a border around your image */

img {
    border: 2px solid black;
}

/* Change the font-family of your list */